body {
  background-color: rgb(26, 26, 26);
}

.about-section {
  background-color: rgb(26, 26, 26);
  padding: 0px 0;
  color: white;
}

.about-section .container {
  background-color: rgb(26, 26, 26);
  padding: 100px;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 0px;
}

.about-section p {
  font-size: 1rem;
  line-height: 1.6;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto; /* Center the table horizontally */
}
th,
td {
  /* border: 1px solid rgb(187, 168, 168); */
  background-color: blue;
  padding: 8px;
  border-radius: 10px; /* Rounded corners */
}
