.green-box {
  clear: both;
  display: block;
  font-family: "Arimo", sans-serif;
  direction: rtl;
  text-align: right;
  float: right;
  width: 250px;
  border-radius: 15px;
  padding: 15px;
  margin-top: 7px;
  border: 7px solid #fbdd63;
  background-color: white;
}
