.veganCalculatorHeader,
.input-group {
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: -7px;
  background-color: rgb(209, 19, 19);
  color: white;
}

.veganCalculatorHeader h1 {
  font-size: 15px;
  padding-top: 10px;
}

.calculateButton {
  align-items: center;
  gap: 0px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  padding: 0 5px 0 5px;
  border-radius: 2px;
  color: white;
  cursor: grab;
}

.calculateButton:hover {
  color: rgb(200, 200, 200);
  border: 1px solid rgb(200, 200, 200);
}

.veganCalculatorHeader,
.veganResult h2 {
  font-size: 7px;
}

.input {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  background-color: rgb(209, 19, 19);
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.input-group label {
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
  font-size: 12px;
}

.input-button {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
}

.input input.time {
  width: 40px;
  height: 15px;
  margin-top: 0px;
  border-radius: 2px;
  border: 0px solid rgb(0, 0, 0);
}

.time:focus {
  outline: none;
  border: 2px solid #00f4ff;
}

.time {
  width: 60px;
}

/* Prompt */

.modal {
  display: none; /* Hide modal initially */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 9999;
  font-size: 10px;
}

.modal-content {
  position: relative; /* Add this line */
  background-color: #3e3e3e;
  margin: 20% auto;
  padding: 10px;
  max-width: 300px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;

  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Stack children vertically */
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0px;
  column-gap: 50px;
  margin-bottom: 20px;
}

.headerSaved {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding-top: 7px;
  background-color: #3e3e3e;
  color: white;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  margin-top: -10px;
  font-size: 60px;
}

.saved {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #3e3e3e;
  color: white;
}

.saved li {
  padding: 1px 0;
}

#headerSavedText {
  font-size: 8px;
}

.close {
  position: absolute; /* Position the close button absolutely within .modal-content */
  top: 0px; /* Align it to the top */
  right: 10px; /* Align it to the right */
  color: #aaa; /* Light grey color */
  font-size: 28px; /* Large font size for the 'X' character */
  font-weight: bold; /* Bold font weight for visibility */
}

.close:hover,
.close:focus {
  color: #7f7f7f; /* Change color on hover/focus for better user interaction */
  text-decoration: none;
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}
