* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

header {
  background-color: rgb(23, 23, 23);
  position: relative;
  z-index: 10;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.logo {
  height: 75px;
  width: 75px;
}

.navbar {
  min-height: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 25px;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.nav-link {
  transition: color 0.1s ease;
  color: white;
}

.nav-link:not(.join-link):not(.contact-link):hover {
  color: rgb(165, 165, 165);
}

.nav-link.join-link:hover {
  color: rgb(165, 165, 165);
}

.mainButtons :hover {
  border: 2px solid rgb(165, 165, 165);
}

.nav-link.contact-link:hover {
  color: rgb(165, 165, 165);
  background-color: rgb(209, 19, 19);
}

.heroButton {
  border: 2px solid rgb(249, 249, 249);
  padding: 6px 16px;
  border-radius: 2px;
  background-color: transparent;
}

.contact-link {
  padding: 8px 12px;
  border-radius: 2px;
  background-color: rgb(209, 19, 19);
  color: rgb(253, 251, 251);
  font-weight: bold;
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background-color: rgb(209, 19, 19);
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.nav-menu {
  @media (max-width: 900px) {
    position: fixed;
    left: -500%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    width: 100%;
    text-align: center;
  }
}

.nav-item {
  margin: 5px 0;
}

.nav-menu.active {
  left: 0;
}

.nav-menu.active .nav-item {
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 5px;
}

/* Sticky */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(23, 23, 23);
  z-index: 1000;
}

body {
  padding-top: 75px;
}
