.resources {
  display: flex;
  background-color: rgb(26, 26, 26);
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 100vh;
  z-index: 2;
}

.resourcesHeader {
  font-size: 15px;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}

/* .moviesHeader {
  display: flex;
  background-color: rgb(26, 26, 26);
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: calc(100vh + 30px);
  z-index: 2;
  color: white;
  font-size: 10px;
  padding: 10px;
  text-align: center;
  order: 1;
} */

.moviesHeaderText {
  font-size: 10px;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}

.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(26, 26, 26);
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
  position: absolute;
  top: calc(100vh);
  /* top: calc(100vh + 30px);  */
  gap: 20px;
}

.movie-box {
  width: 120px;
  height: 110px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  border: 0px solid #000;
  border-radius: 5px;
  order: 2;
  transition: transform 0.2s;
  overflow: hidden;
}

.movie-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  margin-bottom: 10px;
  transition: transform 0.7s;
}

.movie-text {
  background-color: #ffffff;
  font-size: 5px;
  text-align: center;
  padding: 8px;
  margin-top: -10px;
  font-weight: bold;
}

.movie-box:hover {
  cursor: grab;
  transform: scale(1.02);
}

.movie-box:hover img {
  cursor: grab;
  transform: scale(1.1);
}

@media (max-width: 500px) {
  .movie-box {
    width: 110px;
    height: 110px;
    margin: 0px;
  }
}
