.resources {
  display: flex;
  flex-direction: row;
  background-color: rgb(26, 26, 26);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2px;
  padding: 2px;
  z-index: 2;
}

.resourcesHeaderMovies {
  font-size: 35px;
  padding: 0px;
  background-color: rgb(26, 26, 26);
  margin-top: -50px;
}

.resourcesHeaderBooks {
  font-size: 35px;
  padding: 0px;
  background-color: rgb(26, 26, 26);
  margin-top: -50px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  background-color: rgb(26, 26, 26);
  padding-top: 75px;
  padding-bottom: 30px;
  margin-top: -60px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  background-color: rgb(26, 26, 26);
  padding-top: 125px;
  padding-bottom: 75px;
  margin-top: -60px;
}

.movie-box {
  width: 220px;
  height: 220px;
  background-color: rgb(76, 72, 72);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  order: 2;
  transition: transform 0.2s;
  overflow: hidden;
}

.movie-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.7s;
}

.movie-text {
  background-color: rgb(76, 72, 72);
  font-size: 25x;
  text-align: center;
  padding: 25px;
  font-weight: bold;
  color: white;
}

.movie-box:hover {
  cursor: grab;
  transform: scale(1.02);
}

.movie-box:hover img {
  cursor: grab;
  transform: scale(1.1);
}

@media (max-width: 400px) {
  .movie-box {
    width: 250px;
    height: 250px;
    margin: 0px;
  }
}
